body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 80px;
}
h2{
    color: palevioletred;
}
h3{
    font-size: 45px;
}
.specipic-word-big{
    font-size: 70px;
}
p{
    font-size: 20px;
}
span{
    color: palevioletred;
}
.hire-me{
    font-size: 28px;
    text-decoration: none;
    background-image: linear-gradient(to right ,orange , tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    
}    
.flexible-container{
    display:flex;
    margin-bottom: 10%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.top-banner{
    margin-left: auto;
}

.half-width{
    width: 50%;
    padding-left:5%;
    padding-right: 7%;
    
}
.half-width img{
    width: 80%;
    

    
}
.dream-area{
    width: 100%;
    margin:0;
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.download-resume-button{
    font-size: 28px;
    text-decoration: none;
    background-image: linear-gradient(to right ,orange , tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;

}
footer p{
    text-align: center;
}
.experience-metarial{
    box-shadow: 10px 10px 40px gray;
    border-radius: 40px;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 6%;
    padding-right: 6%;
}   
.extra-images{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}


footer p{
    text-align: center;
}